[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false
seeds = true

[programs.localnet]
predictlink_oracle = "2JaiFHTyNdkRmGrGEAagDUDYBVyA1LkL3v12eG2pF5Yn"

[programs.devnet]
predictlink_oracle = "2JaiFHTyNdkRmGrGEAagDUDYBVyA1LkL3v12eG2pF5Yn"

[programs.mainnet]
predictlink_oracle = "BvMFSUVwKVn1TC5Vw93aGy4cnQtYneuiSA219Yh1kmyG"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
